# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
env/
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db